.cabecalho{
    margin-top: 6em;
    text-align: center;
}

.sobreNos{
    color: var(--vermelho-principal);
    font-size: 16px;
    font-weight: 700;
}

.titulo__cabecalho{
    color: var(--preto-principal);
    padding: 1em;
}
